body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #0077cc;
}

.hero {
  background-image: url("https://plus.unsplash.com/premium_photo-1661962354730-cda54fa4f9f1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 5em 2em;
}

.hero h1,
.hero p {
  text-shadow: 1px 1px 6px black;
}

button {
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #014a7e;
  transform: translateY(-1px);
}

.search-section {
  text-align: center;
  margin: 2em 0;
}

input[type="text"] {
  padding: 0.5em;
  width: 60%;
  max-width: 400px;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

.social-icons img {
  width: 24px;
  margin: 0 0.5em;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

.about {
  padding: 20px;
  margin: 10px auto;
  max-width: 1000px;
}

.about img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.contact {
  background-image: url("https://images.unsplash.com/photo-1499914485622-a88fac536970?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}
.contact form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.contact label,
.contact input {
  margin-bottom: 10px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding: 2em;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1em;
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 400px;
  height: 300px;
  border-radius: 4px;
  margin-top: 0.5em;
}

.intro {
  padding: 10px 10% 10px 10%;
}
